.contactbanner-container {
  width: 100%;
  height: 950px;
  background-image: url('/images/contactbanner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contactbanner-container h1 {
  color: white;
  font-size: 48px;
  padding-bottom: 20px;
}

.contactbanner-container p {
  font-size: 30px;
  color: white;
  line-height: 34px;
}

.contactbanner-container button {
  font-size: 26px;
  color: white;
  background-color: #3b0000;
  border: 1px solid #3b0000;
}

.contactbanner-container button:hover {
  background-color: rgb(92, 0, 0);
  border: 1px solid rgb(92, 0, 0);;
}

.error-message {
  color: #ff2121;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .contactbanner-container {
    height: 900px;
  }

  .contactbanner-container h1 {
    font-size: 30px;
    padding-bottom: 10px;
  }

  .contactbanner-container p {
    font-size: 20px;
    line-height: 28px;
  }

  #padding-column,
  #header-image {
    display: none;
  }
}